.editor{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor input{
  flex: 1;
}

.editor .markdown{
  display: flex;
  flex-direction: column;
  flex: 20;
  border: 1px solid #000;
}

.CodeMirror{
  font-size: 1rem;
  flex: 1;
}