.preview{
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.preview .title{
  font-size: 2rem;
  color: rgb(7, 7, 7);
  font-weight: bold;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.preview .markdown{
  padding: 0 20px;
  flex: 20;
  overflow-y: scroll;
}
